- action: allow
  sender_top_level_domain: .ac.jp
- action: deny
  body_contains: invoice
- action: deny
  subject_contains: invoice
- action: move
  move_to: sub
  subject_contains: invoice

# 日付/時間フィルタの例
# - action: deny
#   older_than_days: 30
# - action: deny
#   time_range: "00:00-06:00"
