- action: allow
  sender_top_level_domain: .ac.jp
- action: deny
  body_contains: invoice
- action: deny
  subject_contains: invoice
- action: move
  move_to: sub
  subject_contains: invoice
# To/CCフィルタの例
# - action: deny
#   to_contains: undisclosed-recipients
# - action: move
#   move_to: ml
#   cc_contains: dev-team@example.com
